name: Publish Docker image

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Login to dockerhub
              uses: docker/login-action@v3
              with:
                username: ${{secrets.DOCKER_USERNAME}}
                password: ${{secrets.DOCKER_TOKEN}}
            
          
            - name: build and push Docker image
              uses: docker/build-push-actions@v5
              with:
                context: .
                push: true
                tags: hannestrieb/latest/dso25docker:latest


          # run docker build -t...
          # docker push